<div  class="topnav" tabindex="-1"  id="topnav"  (blur)="nav_menu_off()">
    <div id=navicon (click)="toggle()" >&#9776; </div>


        <ul class="nav" *ngIf="show_nav"  >
            	<li                   (click)="select('search')" 	>Search</li>
	    	<li *ngIf="signed_in" (click)="select('trip')" 		>Post a Trip</li>
		<li *ngIf="signed_in" (click)="select('myoffers')"  	>My Offers</li>
		<li *ngIf="signed_in" (click)="select('mybooking')"  	>My Booking</li>
		<li *ngIf="signed_in" (click)="select('user')" 		>My Profile</li>
		<li                   (click)="select('deposit')"  	>Deposit</li>
		<li                   (click)="select('withdraw')"  	>Withdraw</li>
		<li                   (click)="select('contact_us')"  	>Contact Us</li>
		<li                   (click)="select('tou')"  		>Terms of Use</li>
        </ul>
</div>

