<div *ngIf='error_msg!=null' class=error>{{error_msg}}</div>
<div *ngIf='warning_msg!=null' class=warning>{{warning_msg}}</div>
<div *ngIf='info_msg!=null' class=info>{{info_msg}}</div>
<div 
	*ngFor="let journey of journey_forms ;let i=index;
		let even=even;let odd=odd; let first = first; let last = last; trackBy:i"
		[ngClass]="{ odd: odd, even: even }">
	<form [formGroup]="journey" (ngSubmit)='onSubmit()'
		*ngIf='show_this(journeys_from_db[i])'>
      	<table>
		<thead>
			<tr >
				<th>Date</th>
				<th>Time</th>
				<th>Seats</th>
				<th>Price($)</th>
				<th>Booked</th>
				<th>Booking Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{journeys_from_db[i].journey_date}}</td>
				<td>{{journeys_from_db[i].departure_time}}</td>
				<td> 
	<input type="number" formControlName="seats" min="0" max="{{MAX_SEATS}}" step=1 />
				</td>
				<td> 
	<input type="number" formControlName="price" min="0" max="{{MAX_PRICE}}" step=0.01 />
				</td>
				<td>{{journeys_from_db[i].seats_booked}}</td>
				<td class=warning>{{journeys_from_db[i].book_status_description}}</td>

				
			</tr>
		</tbody>
	</table>
	<span>
		<button type=button (click)="update(journey,i)">Update</button>
	</span>
	<span *ngIf='journeys_from_db[i].show_update_msg' class=info>updated</span>

	<span *ngIf='journeys_from_db[i].show_confirm_button'>
		<button type=button (click)="action(journey,i, Constants.URL_CONFIRM)">Confirm</button>
	</span>
	<span *ngIf='journeys_from_db[i].show_reject_button'>
		<button type=button (click)="action(journey,i, Constants.URL_REJECT)">Reject</button>
	</span>
	<span *ngIf='journeys_from_db[i].show_cancel_button'>
		<button type=button (click)="action(journey,i, Constants.URL_REJECT)">Cancel</button>
	</span>
	<span *ngIf='journeys_from_db[i].show_fail_msg' class=error>Action Failed</span>

	<div class=f08 >From: {{journeys_from_db[i].start_display_name}}</div>
	<div class=f08 >To: {{journeys_from_db[i].end_display_name}}</div>
	<div class=f08 >Description: {{journeys_from_db[i].description}}</div>
	</form>
	<p>
</div>
