<div class=center>My Bookings</div>
<button  type="button" class="close-button" (click)="close_page()" >X</button>

<div *ngIf='error_msg!=null' class=error>{{error_msg}}</div>
<div *ngIf='warning_msg!=null' class=warning>{{warning_msg}}</div>
<div *ngIf='info_msg!=null' class=info>{{info_msg}}</div>

<form [formGroup]="form_mybooking" (ngSubmit)="onSubmit()">
	<table>
		<tbody>
			<tr>
				<td>From</td>
				<td><input  type="date"  formControlName="start_date" (change)='onChange()' />
				</td>
			</tr>
			<tr>
				<td>To</td>
				<td> 	
					<input  type="date" formControlName="end_date" 
						min={{form_mybooking.value.start_date}}
						(change)='onChange()'
					/>
					<span class="validity"></span>
				</td>
			</tr>
		</tbody>
	</table>
</form>
<div *ngIf='bookings_from_db.length==0' class=warning>Nothing found</div>
<app-mybookinglist *ngIf='bookings_from_db.length!=0'
                        [bookings_from_db]="bookings_from_db">
</app-mybookinglist>

