<div *ngIf="false"> https://material.angular.io/components/menu/overview </div>
<div class="trip main" *ngIf="!saved">
	<div class="center f12" >New Trip Information</div>
	<form [formGroup]="trip_form" (ngSubmit)="onSubmit()">
		<dl > 
          		<dt>
				<label for="start_loc">From
				<span *ngIf="start_loc.invalid && (start_loc.dirty || start_loc.touched)"
					class="alert alert-danger">
					<span *ngIf="start_loc.errors.required"> (required)  </span>
				</span>
				</label>
			</dt>
          		<dd>
	   			<input  type="text"  id="start_loc" formControlName="start_loc" placeholder="From" required
	                                   #email (keyup)='geocode("start_loc")' (blur)='geocode("start_loc") ' 
				/>
			</dd>
          		<dd  class="f08"> 
				{{trip.start_lat}}  {{trip.start_lon}} 
			</dd>
			<dd class="f08">
				{{trip.start_display_name}}
			</dd>
        	</dl>

        	<dl >
          		<dt>
				<label for="end_loc">To
				<span *ngIf="end_loc.invalid && (end_loc.dirty || end_loc.touched)"
					class="alert alert-danger">
					<span *ngIf="end_loc.errors.required"> (required)  </span>
				</span>
				</label>
			</dt>
          		<dd>
	   			<input  type="text"  id="end_loc" formControlName="end_loc" placeholder="To" required
	                                   (keyup)='geocode("end_loc")' (blur)='geocode("end_loc") ' 
				/>
			</dd>
			<dd class="f08">
				{{trip.end_lat}} {{trip.end_lon}} 
			</dd>
			<dd class="f08">
				{{trip.end_display_name	}}
			</dd>
        	</dl>
        	<dl >
			<dt>
			Distance (miles): {{trip.distance}} 
			</dt>
        	</dl>

        	<dl >
          		<dt><label for="start_date">Start Date (required)</label></dt>
          		<dd>
			<input type="date" formControlName="start_date" required />
          		</dd>
        	</dl>

        	<dl>
          		<dt><label for="departure_time">Departure Time (required)</label></dt>
          		<dd>
				<input type="time" formControlName="departure_time" step="60" required />
          		</dd>
        	</dl>

        	<dl>
			<dt><label for="seats">Available Seats: {{this.trip_form.value.seats}} </label></dt>
          		<dd>
			<input type="range" formControlName="seats" value="{{trip_form.value.seats}}" min="1" max="6" step=1 required /> 
          		</dd>
        	</dl>

        	<dl>
			<dt><label for="price">Price: ${{this.trip_form.value.price}} per mile</label></dt>
          		<dd>
			<input type="range" formControlName="price" value="0" min="0" max="0.20" step=0.01 />
          		</dd>
        	</dl>

		<dl>
          		<dt><label for="recur_ind">Recurring: </label>
            			<input type="checkbox" formControlName="recur_ind" />
			</dt>
        	</dl>

		<div *ngIf="trip_form.value.recur_ind">
          		<dl>
            			<dt><label for="end_date">End Date (must be within 92 days after Start Date)</label></dt>
            			<dd>
					<input type="date" id="end_date" formControlName="end_date" />
            			</dd>
  
            			<dd> <input type="checkbox" formControlName="day0_ind" />Sun 
            			<input type="checkbox" formControlName="day1_ind" />Mon 
            			<input type="checkbox" formControlName="day2_ind" />Tue 
            			<input type="checkbox" formControlName="day3_ind" />Wed 
            			<input type="checkbox" formControlName="day4_ind" />Thir 
            			<input type="checkbox" formControlName="day5_ind" />Fri 
            			<input type="checkbox" formControlName="day6_ind" />Sat 
				</dd>
          		</dl>
		</div>
		<dl class=" error" id="description_field">
          		<dt><label for="description">Description</label></dt>
          		<dd>
			<textarea name=description placeholder="For example, non-smoking, female only, flexible time, flexible pickup,etc" >{{trip_form.value.description}} </textarea>
          		</dd>
        	</dl>
        	<br/>
		<button  type="submit" [disabled]="trip_form.invalid" >Post</button>
		 <p> Form Status: {{ trip_form.status }}
      </form>
</div>
