<button  type="button" class="close-button" (click)="close_page()" >X</button>

<div class="center f12">User Profile</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<dl>
		<dt>
			Last Name : {{user_from_db.last_name}}
		</dt>
		<dt>
			First Name : {{user_from_db.first_name}}
		</dt>
		<dt>
			Balance : ${{user_from_db.balance}}
		</dt>
		<dt>Email </dt>
		<dd>      
          		<input  type="email"  formControlName="email" value="{{user_from_db.email}}"  
				placeholder="Email Address" required 
                  		pattern="{{C.EMAIL_PATTERN}}" 
                	/> 
                         <span class="validity"></span>
          	</dd>
        </dl>
        <br/>
	<button type="submit" [disabled]="form.invalid" >Save</button>
</form>
<div *ngIf='error_msg!=null' 	class='fade error'>{{error_msg}}</div>
<div *ngIf='warning_msg!=null' 	class='fade warning' >{{warning_msg}}</div>
<div *ngIf='info_msg!=null' 	class='fade info'>{{info_msg}}</div>
<p>
Form Value: {{ form.value }}
<p>
Form Status: {{ form.status }}
<p>
