<div class="center f12">Search</div>
<button   class="close-button" type="button" (click)="close_page()" > X </button>
<div class={{show_body}} >

	<form [formGroup]="form" (ngSubmit)="search()">
		<dl> 
          		<dt>
				<label for="start_loc">Exact Pickup Location
				</label>
			</dt>
          		<dd>
	   			<input  type="text"  id="start_loc" formControlName="start_loc" 
					placeholder="From" required
	                                (keyup)='geocode("start_loc")' 
					pattern=".{3,}"
				/>
				<span class="validity"></span>
			</dd>
          		<dd  class="f08 clickable-text" (click)='show_map()'> 
				{{trip.start_lat}}  {{trip.start_lon}} <br/>
				{{trip.start_display_name}}
			</dd>
        	</dl>

        	<dl>
          		<dt>
				<label for="end_loc">Exact Dropoff Location</label>
			</dt>
          		<dd>
	   			<input  type="text"  id="end_loc" formControlName="end_loc" 
					placeholder="To" required
	                                (keyup)='geocode("end_loc")'  
					pattern=".{3,}"
				/>
				<span class="validity"></span> 
			</dd>
			<dd class="f08 clickable-text" (click)='show_map()'>
				{{trip.end_lat}} {{trip.end_lon}} <br/>
				{{trip.end_display_name	}}
			</dd>
			<dt>
			Distance (miles): 
			<span *ngIf="trip.distance==C.ERROR_NO_ROUTE " class=error>{{trip.distance}}</span>
			<span *ngIf="trip.distance!=C.ERROR_NO_ROUTE "           >{{trip.distance}}</span>
			</dt>
        	</dl>

        	<dl>
          		<dt><label for="start_date">Search from</label></dt>
          		<dd> <input type="date" formControlName="start_date" min={{today}} required/> 
				<span class="validity"></span>
			</dd>
          		<dt><label for="end_date">Search to</label></dt>
          		<dd> <input type="date" formControlName="end_date" min={{this.form.value.start_date}} /> 
				<span class="validity"></span>
			</dd>

          		<dt><label for="departure_time">Departure Time</label></dt>
          		<dd> <input type="time" formControlName="departure_time" step="60" /> </dd>
        	</dl>

        	<dl>
			<dt><label for="seats">Passengers: {{this.form.value.seats}}  </label></dt>
          		<dd>
			<input type="range" formControlName="seats" min="1" max="{{C.MAX_SEATS}}" step=1 /> 
          		</dd>

			<dt><label for="price">Max Price: ${{this.form.value.price}} per mile per passenger</label></dt>
          		<dd>
			<input type="range" formControlName="price" min="0" max="{{C.MAX_PRICE_RIDER}}" step=0.01 />
          		</dd>
        	</dl>
		<div class=center>
		<button type="submit" 
			[disabled]="form.invalid || trip.distance==null || trip.distance=='no route' " >
			Search
		</button> 
		</div>
      	</form>
	<div class=center>
	or <br/>
	<button type=button (click)='search_all()'>See all trips within 10 days from today<br/>
	You must use Search if you want to book a trip</button> <br/>
	</div>
	<div *ngIf='error_msg!=null' class=error>{{error_msg}}</div>
	<div *ngIf='warning_msg!=null' class=warning>{{warning_msg}}</div>
	<div *ngIf='info_msg!=null' class=info>{{info_msg}}</div>

	<p>
      	<app-journey *ngIf='journeys_from_db.length!=0' 
			[journeys_from_db]="journeys_from_db" 
			[search_criteria]="search_criteria" 
			>
	</app-journey>
	</div>
