<app-map2  	*ngIf="pages.map"  			></app-map2>
<app-user 	*ngIf="pages.user" 	class=main	></app-user>
<app-trip 	*ngIf="pages.trip" 	class=main	></app-trip>
<app-search 	*ngIf="pages.search" 	class=main	></app-search>
<app-activity 	*ngIf="pages.activity" 	class=main 	></app-activity>
<app-thist 	*ngIf="pages.thist" 	class=main 	></app-thist>
<app-deposit 	*ngIf="pages.deposit" 	class=main 	></app-deposit>
<app-withdraw 	*ngIf="pages.withdraw" 	class=main 	></app-withdraw>
<app-nav  	*ngIf="pages.nav"  			></app-nav>

<router-outlet></router-outlet>
