
		<div 
	       		*ngFor="let journey of journeys_from_db ;let i=index;let even=even;let odd=odd; let first = first; let last = last; trackBy:i"
				[ngClass]="{ odd: odd, even: even }">
      			<table>
				<thead>
					<tr >
						<th>Date</th>
						<th>Time</th>
						<th>Seats</th>
						<th>Price($)</th>
						<th>Booked</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{journey.journey_date}}</td>
						<td>{{journey.departure_time}}</td>
						<td>{{seats_searched}}</td>
						<td>{{journey.rider_cost}} </td>
						<td>{{journey.seats_booked}}</td>
						<td>
							<button *ngIf='is_signed_in && journey.bookable' #j type=buttom (click)="book(journey)">Book</button>
							<span *ngIf='is_signed_in && !journey.sufficient_balance' >Insufficient Balance</span>
						</td>
				
					</tr>
				</tbody>
			</table>
			<div class=f08 >From: {{journey.start_display_name}}</div>
			<div class=f08 >To: {{journey.end_display_name}}</div>
			<div class=f08 >Description: {{journey.description}}</div>
			<p>
		</div>
