/* style has to be applied on div#map. dont know why */
div#map {
        height: 100%;
        width: 100%;
        border: 0px solid #AAA;
        z-index: 200;
        position: fixed;
        left: 0rem;
        top: 0rem;
/* these are not working
        zoom:100%;
        transform: scale(1);
*/
/*
        position: absolute;
*/
}

