<span class=hide-unhide>
	<button  type="button" (click)="show_body='noshow'" > &#xfe3f; </button>
	<button  type="button" (click)="show_body='show'" > &#xfe40; </button>
</span>


<div class=center>My Activities</div>
<button type="button" class="close-button" (click)="close_page()" >X</button>

<div class={{show_body}} >
<div *ngIf='error_msg!=null' class=error>{{error_msg}}</div>
<div *ngIf='warning_msg!=null' class=warning>{{warning_msg}}</div>
<div *ngIf='info_msg!=null' class=info>{{info_msg}}</div>

<form [formGroup]="trip_form" (ngSubmit)="onSubmit()">
	<label for="start_date">From: </label>
	<input  type="date"  formControlName="start_date" (change)='onChange()' />
	<br/>
	<label for="end_date">To:</label>
	<input  type="date" formControlName="end_date" min={{trip_form.value.start_date}}
	(change)='onChange()'
	/>
	<span class="validity"></span>
	<br/>
	Show activities when I am a 
	<input type=checkbox formControlName='show_driver' 	(change)='set_filter()' />driver
	<input type=checkbox formControlName='show_rider' 	(change)='set_filter()' />rider<br/>
	Show activities when status is <br/>
	<input type=checkbox formControlName='show_seats_available' (change)='set_filter()' />Seats Available<br/>
	<input type=checkbox formControlName='show_pending' 	(change)='set_filter()' />Pending Comfirmation<br/>
	<input type=checkbox formControlName='show_confirmed' 	(change)='set_filter()' />Confirmed<br/>
	<input type=checkbox formControlName='show_rejected' 	(change)='set_filter()' />Rejected by Driver<br/>
	<input type=checkbox formControlName='show_cancelled_by_driver' 	(change)='set_filter()' />Cancelled by Driver<br/>
	<input type=checkbox formControlName='show_cancelled_by_rider' 	(change)='set_filter()' />Cancelled by Rider<br/>
	<input type=checkbox formControlName='show_finished' 	(change)='set_filter()' />Finished
</form>
<p>
<div *ngIf='bookings_from_db.length==0' class=warning>Nothing found</div>
<app-bookings *ngIf='bookings_from_db.length!=0'
                        [bookings_from_db]="bookings_from_db"
			[filter]='filter'>

</app-bookings>
</div>

