<div *ngIf='error_msg!=null' class=error>{{error_msg}}</div>
<div *ngIf='warning_msg!=null' class=warning>{{warning_msg}}</div>
<div class=warning *ngIf='false'>change_detect_count={{change_detect_counter()}}</div>
<div *ngIf='info_msg!=null' class=info>{{info_msg}}</div>
<div 
	*ngFor="let booking of booking_forms ;let i=index;
		let even=even;let odd=odd; let first = first; let last = last; trackBy:i"
		[ngClass]="{ odd: odd, even: even }">
	<form [formGroup]="booking" (ngSubmit)='onSubmit()'
		*ngIf='bookings_from_db[i].show_booking'>
      	<table>
		<thead>
			<tr >
				<th>Date</th>
				<th>Time</th>
				<th *ngIf='bookings_from_db[i].book_id == null' >Seats</th>
				<th *ngIf='bookings_from_db[i].book_id == null' >Price($/mile)</th>
				<th *ngIf='bookings_from_db[i].book_id != null'>Booked</th>
				<th *ngIf='bookings_from_db[i].book_id != null'>Price($)</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{bookings_from_db[i].journey_date}}</td>
				<td>{{bookings_from_db[i].departure_time}}</td>
				<td *ngIf='bookings_from_db[i].book_id == null' > 
	<input type="number" formControlName="seats" min="0" max="{{Constants.MAX_SEATS}}" step=1 />
				</td>
				<td *ngIf='bookings_from_db[i].book_id == null' > 
	<input type="number" formControlName="price" min="0" max="{{Constants.MAX_PRICE}}" step=0.01 />
				</td>
				<td *ngIf='bookings_from_db[i].book_id != null'>{{bookings_from_db[i].seats}}</td>
				<td *ngIf='bookings_from_db[i].book_id != null'>{{bookings_from_db[i].unified_cost}}</td>
				<td class=warning>{{bookings_from_db[i].book_status_description}}</td>

				
			</tr>
		</tbody>
	</table>
	<span >
		<button type=button (click)="update(booking,i)" *ngIf='bookings_from_db[i].show_update_button'>Update</button>
	</span>
	<span *ngIf='bookings_from_db[i].show_update_msg' class=info>updated</span>

	<span *ngIf='bookings_from_db[i].show_confirm_button'>
		<button type=button (click)="action(booking,i, Constants.URL_CONFIRM)">Confirm</button>
	</span>
	<span *ngIf='bookings_from_db[i].show_reject_button'>
		<button type=button (click)="action(booking,i, Constants.URL_REJECT)">Reject</button>
	</span>
	<span *ngIf='bookings_from_db[i].show_cancel_button'>
		<button type=button (click)="action(booking,i, Constants.URL_REJECT)">Cancel</button>
	</span>
	<span *ngIf='bookings_from_db[i].show_finish_button'>
		<button type=button (click)="action(booking,i, Constants.URL_FINISH)">Finish</button>
	</span>
	<span *ngIf='bookings_from_db[i].show_fail_msg' class=error>Action Failed</span>

	<div class=f08 ><span class=from>Driver from:</span> {{bookings_from_db[i].start_display_name}}</div>
	<div class=f08 ><span class=to>Driver to:</span> {{bookings_from_db[i].end_display_name}}</div>
	<div class=f08 *ngIf='bookings_from_db[i].book_id!=null'><span class=from>Passenger Pickup:</span> {{bookings_from_db[i].pickup_display_name}}</div>
	<div class=f08 *ngIf='bookings_from_db[i].book_id!=null'><span class=to>Passenger Dropoff:</span> {{bookings_from_db[i].dropoff_display_name}}</div>
	<div class=f08 >Description: {{bookings_from_db[i].description}}</div>
	</form>
	<p>
</div>
