html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: calibri, tahoma, arial, sans-serif;
	color: black;
	font-size: 1rem;
}


dl, dt, dd , div, span, a {
	margin: 0rem;
	padding: 0rem;
}

dd {
	margin-left: 1rem;
}


a {
	text-decoration: none;
	font-weight: normal;
	color: black;
}
a:hover {
	color: blue;
}

div.toggle, *[show=false] {
	display: none;
}

div.center {
	text-align:center
}
div.centerblock {
/* use margin: auto to center a div */
	margin: auto;
}

.f08 {
	font-size: 0.8rem;
}

div.f12 {
	font-size: 1.2rem;
}

div.f15 {
	font-size: 1.5rem;
}
div.f18 {
	font-size: 1.8rem;
}

input {
	font-size: 1rem;
}
textarea {
	font-size: 1rem;
}

.main {
	/* use absolute tp the main page can scroll */
	position: absolute;
	height: auto;
	width: 80%;
	top: 0rem;
	left: 0rem;
	overflow: visible;
	z-index:700;
	border: 1px solid #AAA;
	font-size: 1rem;
	background-color: #eee; 
	border-radius: 4px 4px 4px 4px;
	padding: 0.5rem;
	margin: 0.5rem;
}

.signinout {
	position: fixed;
	width: auto;
	top: 3rem;
	right: 0.5rem;
	overflow: visible;
	z-index:200;
	border: 1px solid #AAA;
	font-size: 1rem;
	background-color: #eee; 
	border-radius: 4px 4px 4px 4px;
	padding: 0.5rem;
	margin: 0.5rem;
}

button.close-button {
	/* use absolute to position child relative to its parent. parent must have absolue of fixed position */
	position: absolute;
	width: auto;
	top: 0.2rem ;
	right: 0.2rem;
}
